@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 background-color: #19191B;
 font-family: 'Lato', sans-serif;
}

.icon-color {
    color: #fefefe;
  }